* {
  margin: auto;
}

.wrapper {
  width: 1400px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

button.btn_left_to_right,
button.btn_grow_fr_inside,
button.btn_skew {
  /* Typography */
  background: #3498db;
  color: #fff;
  text-align: center;

  /* Box model */
  margin-top: 10rem;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  border: 0.5rem solid #3498db;

  /* Positioning */
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button.btn_left_to_right:hover,
.btn_grow_fr_inside:hover,
.btn_skew:hover {
  color: #3498db;
  cursor: pointer;
}

.btn_left_to_right::after {
  content: "";
  /* Typography */
  background: #ecf0f1;

  /* Positioning */
  position: absolute;
  padding: 2rem 2rem;
  top: 0;
  left: -100%;
  bottom: 0;
  right: 100%;
  z-index: -1;
}

.btn_left_to_right::after,
.btn_grow_fr_inside::after,
.btn_skew::after {
  transition: all 0.5s ease-in-out;
}

.btn_left_to_right:hover::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.btn_grow_fr_inside::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scale(0, 0);
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
}

.btn_skew::after {
  content: "";
  display: "table";
  top: 0;
  left: -30%;
  right: -30%;
  bottom: 0;
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  transform: scale(0, 1) skewX(45deg);
}

.btn_grow_fr_inside:hover::after {
  transform: scale(1, 1);
}

.btn_skew:hover::after {
  transform: scale(1, 1) skewX(45deg);
}
